@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
  font-family: "civ";
  src:
    url("fonts/civ.ttf") format("truetype")
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: civ;
  font-size: 100%;
  cursor: url('images/torch.png'), auto;
  line-height: 0.7;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

#viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app.main_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app.main_menu .menu {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  background: #a27d61;
  border: 2px solid #ffffdf;
  border-top-color: #824d3c;
  border-right-color: #824d3c;
  padding: 0.125rem;
}

#app.main_menu .menu button {
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0.25rem 1rem 0;
}

#app.main_menu .menu button:hover {
  background-color: #dbcfa6;
}

#app.game {
  display: grid;
  grid-template-areas:
    'nav  nav' 
    'side game';
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

#app.game > canvas:first-child {
  grid-area: game;
}

#app.game .nav_bar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

#app.game .nav_bar .nav_bar_item {
  width: 100%;
  text-align: left;
  color: #8a8a8e;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0.25rem 1rem 0;
}

#app.game .nav_bar .nav_bar_item::first-letter {
  color: white;
}

#app.game .side_bar {
  grid-area: side;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-image: url('images/background.png');
}

#app.game .mini_map, #app.game .info_section, #app.game .current_info {
  border: 2px solid white;
  border-top-color: #4d4d4d;
  border-right-color: #4d4d4d;
}

#app.game .mini_map {
  width: 160px;
  height: 100px;
}

#app.game .palace {
  height: 32px;
  width: 100%;
}

#app.game .money {
  display: flex;
  gap: 1rem;
}

#app.game .current_info {
  padding-left: 0.25rem;
}

#app.game .dropdown_wrapper {
  position: relative;
}

#app.game .dropdown {
  position: absolute;
  left: 2.5rem;
  list-style: none;
  background-image: url('images/background.png');
  border: 2px solid black;
  padding: 0.25rem 4px;
  margin: 0;
  box-shadow: inset -2px 2px 0 0 #4d4d4d, inset 2px -2px 0 0 white;
}

#app.game .dropdown_wrapper:last-child .dropdown {
  left: unset;
  right: 1rem;
} 

#app.game .dropdown button {
  line-height: 0.5;
  padding-top: 0.375rem;
  position: relative;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

#app.game .dropdown button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: cyan;
  mix-blend-mode: color;
}

#app.game .mnemonic {
  color: white;
}

#app.game .dropdown:not(.open) {
  display: none;
}

#app.game .city_screen {
  font-family: 'Silkscreen';
  font-size: 1rem;
  background-color: black;
  display: grid;
  line-height: normal;

  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    'name      name buildings'
    'resources map  buildings'
    'units     map  buildings'
    'food      info build';

  gap: 2px;

  border: 2px solid black;
  padding: 0;
}

::backdrop {
  background: black;
  opacity: 0.5;
}


#app.game .city_screen .panel {
  background: url('images/background.png');
  border: 2px solid #304db2;
  position: relative;
}

#app.game .city_screen .panel:not(.panel--no-color)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #304db2;
  mix-blend-mode: color;
  pointer-events: none;
}

#app.game .city_screen .panel_header {
  background-color: #304db2;
  color: white;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

#app.game .city_screen .panel_header h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 0.75;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}

#app.game .city_screen .name {
  grid-area: name;
}

#app.game .city_screen .name span {
  color: white;
  text-align: center;
  display: block;
}

#app.game .city_screen .buildings_list {
  grid-area: buildings;
}

#app.game .city_screen .resources_panel {
  grid-area: resources;
}

#app.game .city_screen .units_panel {
  grid-area: units;
}

#app.game .city_screen .city_view {
  grid-area: map;
}

#app.game .city_screen .food_storage {
  grid-area: food;
}

#app.game .city_screen .info_tabs {
  grid-area: info;
}

#app.game .city_screen .tabs {
  display: flex;
}

#app.game .city_screen .tab_button,
#app.game .city_screen .button,
#app.game .city_screen .exit_button {
  border: 2px solid #8a8a8e;
  border-bottom-color: #304db2;
  border-right-color: #304db2;
  background-color: #798eff;
  color: #304db2;
  text-transform: uppercase;
  padding: 0;
  line-height: 0.75;
  padding-bottom: 0.125rem;
}

#app.game .city_screen .tab_button {
  width: 100%;
}

#app.game .city_screen .tab_button.selected {
  background-color: white;
}

#app.game .city_screen .tab_body:not(.selected) {
  display: none;
}

#app.game .city_screen .build_panel {
  grid-area: build;
}

#app.game .city_screen .exit_button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f75555;
  border-bottom-color: #822014;
  border-right-color: #822014;
  color: #822014;
}

.blink {
  animation: 1000ms ease-in-out blink infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}